
{% include 'base.html' %}
{% include 'nav.html' %}
{% load static %}


  <title>{% block title %} H O M E {% endblock %}</title>

{% block body %}
<body class="container-fluid" style="background:linear-gradient(-120deg, #ba0c2f, #ffcd00, #c9c9c9);">
<div class="container" style="background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);">

<h2>Login Page</h2>
</div>

<div class="container-fluid" style="background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);">
<div class="content-saction">

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ form }}
        </fieldset>
        <div class="form-group"><
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already Have An Account?<a class="ml-2" href="#" >Sign In</a></small>
    </div>
</div>
</div>
</body>
{% endblock %}