<footer class="bg-dark text-white border-top border-info">
        <div class="container text-center text-sm-left position-relative py-5">
            <div class="row text-info justify-content-center">
                <ul class="list-inline" id="text_decoration-2" style="margin-top:20px;font-family:ABeeZee, sans-serif;">
                    <li class="list-inline-item"><a class="text-primary decoration" style="color:rgb(0,0,0);font-size:13px;margin-right:10px;" href="{% url 'home' %}">Home</a></li>
                    <li class="list-inline-item"><a class="text-primary" style="font-size:13px;color:rgb(0,0,0);margin-right:10px;" href="{% url 'services' %}">Services</a></li>
                    <li class="list-inline-item"><a class="text-primary" style="font-size:13px;color:rgb(0,0,0);margin-right:10px;" href="{% url 'about-us' %}">About</a></li>
                    <li class="list-inline-item"><a class="text-primary" style="color:rgb(0,0,0);font-size:13px;margin-right:10px;" href="{% url 'terms-conditions' %}">Safety</a></li>
                    <li class="list-inline-item"><a class="text-primary" style="color:rgb(0,0,0);font-size:13px;" href="{% url 'privacy-policy' %}">Privacy</a></li>

                </ul>
            </div>
            
        </div>
        <div class="pt-5 pb-4 bg-info text-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                      <a href="{% url 'home' %}" style="text-decoration:none; color: #FFFFFF;"> <h2 class="mb-3">&nbsp;Cool<i class="fa fa-diamond"></i>Spot</h2></a>
                        <p class="mb-1"><i class="fa fa-map-marker fa-fw"></i>&nbsp;Thane, Miraroad</p>
                        <p class="mb-1"><i class="fa fa-envelope fa-fw"></i>&nbsp;<a class="text-dark" href="mailto:contact@company.com"><span style="text-decoration: underline;">welcome@coolspot.co.in</span></a></p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                        <p class="my-3">Make new friends and enjoy Events globally with them you can organize your own events or buy&sell new/used goods or products at a fun-trusted social platform. </p>
                    </div>
                    <div class="col-lg-4 text-center text-lg-right pb-4">
                        <h3 class="mb-0">Share & Follow us</h3>
                        <p class="mb-2">send this website link to your groups & enjoy</p>

                        <div>
                            <a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="https://www.instagram.com/direct/new/"><i class="fa fa-instagram fa-2x"></i></a>
                            <a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="https://twitter.com/intent/tweet?text=Hi,%20try%20this%20site%20it's%20fun%20http://coolspot.co.in/&baz=456" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                            <a class="text-dark mx-2 mx-lg-0 ml-lg-3" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.coolspot.co.in%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="https://api.whatsapp.com/send?text=www.coolspot.co.in"><i class="fab fa-whatsapp fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center text-lg-left py-2 small bg-dark text-info font-italic">
            <div class="container"><a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=7354033&style=0038&nbdigits=7&type=page&initCount=50000" title="Web Counter" Alt="counter free"   border="0" >
</a>    
                <p class="m-0">©2020 Coolspot.co.in | All rights reserved</p>
            </div>
        </div>

    </footer>