
{% include 'base.html' %}
{% include 'nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

<head>
  <title>{% block title %} Add Recruiter {% endblock %}</title>
</head>
{% block body %}
<body style="background-color: #FA8BFF; background-image: linear-gradient(315deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);">
<br>

<form method="POST" enctype="multipart/form-data">
<div class="container"><br>
  <h3>Add Job Description with Recruiter Details </h3>
  <p>You can edit it again whenever you want</p>

  <div class="row">
        {% csrf_token %}
    <div class="col-sm-6" >
{{ form.name|as_crispy_field }}
    </div>
    <div class="col-sm-6" >
{{ form.designation|as_crispy_field }}
    </div>
          <div class="col-sm-6">
{{form.starts|as_crispy_field  }}
    </div>


    <div class="col-sm-6" >
{{ form.ends|as_crispy_field }}
    </div>

                      <div class="col-sm-6">
            {{ form.company|as_crispy_field  }}

    </div>


                <div class="col-sm-6">
{{ form.location|as_crispy_field }}
    </div>
                <div class="col-sm-6">
{{ form.job_title|as_crispy_field }}
    </div>
                      <div class="col-sm-6">
{{ form.job_details|as_crispy_field }}
    </div>

                      <div class="col-sm-6">
{{ form.job_exp|as_crispy_field }}
    </div>
                            <div class="col-sm-6">
{{ form.skill|as_crispy_field }}
    </div>
      <div class="col-sm-6">
{{ form.industry|as_crispy_field }}
    </div>
       <div class="col-sm-6" >
{{ form.contact|as_crispy_field }}
    </div>
       <div class="col-sm-6" >
{{ form.email|as_crispy_field }}
    </div> <div class="col-sm-6">
{{ form.image|as_crispy_field }}
    </div>


                <div class="col-sm-6">
<button class="btn btn-outline-info btn-lg" type="submit">Post</button>
    </div>

      </div>
</div>
</form>

</div>
</body>
{% endblock %}